# 📦 Dépendances
/node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ✅ Build / Production
/.next/
.out/
.build/

# 🔒 Fichiers sensibles
.env
.env.*  
*.pem

# 🧪 Tests
/coverage/

# 🐞 Logs debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 💻 Système
.DS_Store

# 🧬 TypeScript
*.tsbuildinfo
next-env.d.ts

# ▲ Vercel
.vercel/
